<header>
  <div class="container header-content">
    <a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}</a>

    <nav id="main-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/#experience' | relative_url }}">Experience</a>
      <a href="{{ '/#skills' | relative_url }}">Skills</a>
      <a href="{{ '/#contact' | relative_url }}">Contact</a>
      <a href="/assets/resume.pdf" class="resume-link">Resume</a>

      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle Theme">
        <span class="material-symbols-outlined theme-icon">dark_mode</span>
      </button>
    </nav>
  </div>
</header>