// Placeholder to allow overriding predefined variables smoothly.

$base-font-family: monospace;
$lm-link-base-color:       #f10000 !default;
$lm-link-visited-color:    darken($lm-link-base-color, 15%) !default;
$dm-link-base-color:       #fc0000 !default;
$lm-link-visited-color:    darken($dm-link-base-color, 15%) !default;
